node_modules
.next
*.lock
.env
.env.local
.env*.local
apps/admin/.env.local
apps/web/.env.local
packages/db/.env
packages/db/prisma/dev.db*
packages/db/dev.db*
packages/db/generated/
*.log
.pm2/
.DS_Store
dist/
build/
.turbo/
coverage/
